@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lobster&family=Montserrat:wght@400;700&family=Oi&family=Oswald&family=Roboto:wght@300&family=Stick&display=swap');

body{font-family : Montserrat;f}

h1{color : #413c69
;text-align : center
;font-family : Lobster}

img{text-align : center;
border-radius : 50px}

  h2{color: #709fb0
; font-family : Oswald
; font-size : 30px}
  
  h2:hover{color : #a7c5eb
}

span{background-color : #f4d160}


.card{
 
  margin : 20px 200px
    ; 
  padding : 20px; 
  box-shadow : 0 7px 10px #1314171a; 
  border-radius : 5px;
  background-color : white
 
}

.card:hover 

{
  box-shadow : 0 14px 20px #1314171a ; 
 }


body {background-color : #c7c9d366
}


.btn-red{
  color: white;
  background-color: #e86f5c;
  text-decoration: none;
  padding: 6px 20px;
  border-radius: 4px;
  font-family: "lobster";
  cursor: pointer;
  font-weight: 900;
}

.text-center{text-align : center}

.card-container{

  ; display : flex 
   ; justify-content : space-between
    
}

.card-projet{
  border :1px ;
  height : 80px ;
    width : 160px ;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius: 10px; 
  padding: 10px;
  text-align:center;
  font-family: Lobster; 
  font-size:15px;
  color: white; 
}

.bg-orange{background-color: #e9896a;}

.bg-green{background-color:#387c6d}

.bg-blue{background-color:#343f56} 